<%= form_with(model: spree_level, local: true) do |form| %>
  <% if spree_level.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(spree_level.errors.count, "error") %> prohibited this spree_level from being saved:</h2>

      <ul>
      <% spree_level.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :spree_level_name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
