<p id="notice"><%= notice %></p>

<h1>Spree Levels</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @spree_levels.each do |spree_level| %>
      <tr>
        <td><%= spree_level.name %></td>
        <td><%= link_to 'Show', admin_level_path(spree_level) %></td>
        <td><%= link_to 'Edit', edit_admin_level_path(spree_level) %></td>
        <td><%= link_to 'Destroy', admin_level_path(spree_level), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


